= form_with model: message, class: "mt-3", data: { action: "turbo:submit-end->chat#messageCreated" } do |f|
  .input-group
    = f.text_field :content, class: "form-control", placeholder: "Wpisz wiadomość", required: true, data: { chat_target: "input" }
    = f.submit "Wyślij", class: "btn btn-primary"