<p>Cześć  <%= @resource.username %>!</p>

<p>Próbujesz zresetować swoje hasło. Jeśli to nie Ty - zignoruj tą wiadomość.</p>

<p><%= link_to 'Zmień hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Twoje hasło nie ulegnie zmianie, dopóki nie klikniesz przycisku "Zmień hasło" i nie utworzysz nowego</p>
